<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--css-->
    <link rel="stylesheet" href="webjars/bulma/0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/accueil.css">
    <!--end css-->
    <title>Accueil</title>
</head>
<body>
<nav class="level  is-fixed-top-desktop">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <p class="subtitle is-5">
                <strong>Admin</strong> app
            </p>
        </div>
        <div class="level-item">
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="text" placeholder="Find a product">
                </p>
                <p class="control">
                    <button class="button">
                        Search
                    </button>
                </p>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
        <p class="level-item"><strong>All</strong></p>
        <p class="level-item"><a>Product</a></p>
        <p class="level-item"><a>Price</a></p>
        <p class="level-item"><a class="button is-success">New</a></p>
    </div>
</nav>
<!--section-->
    <section class="section  is-medium is-6-desktop">
        <!-- Main container -->
        <!-- end navbar-->
        <h1 class="title">Large section</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
        </h2>
        <div class="columns">
            <div class="column">
                <img src="/images/img-2.png" width="300" alt="abc">
            </div>
            <div class="column ">
               <div class="card">
                   <div class="card-content">
                       <h1 class="title">Product</h1>
                       <h2 class="subtitle">
                            libero venenatis option tritani tincidunt habitasse mediocritatem simul ornatus tacimates commune elit sententiae scelerisque non
                           Fermentumcontentiones deserunt deserunt pericula.  Rutrumrepudiandae mei suspendisse dui cras utamur referrentur populo ponderum tempor inimicus convenire suas blandit.
                           Conubiagraecis blandit.  Senseritpatrioque quem tristique lectus sagittis habemus sodales.  Temporidque consequat alterum indoctum suavitate natum falli mattis nisl sociosqu curabitur reprimique euismod odio.  Definitionessuas alienum elit audire reprimique montes pulvinar urbanitas fringilla facilis mucius autem sadipscing.
                       </h2>
                   </div>
               </div>
            </div>
        </div>
        <div class="hero-body">
            <div class="columns is-6-desktop is-multiline ml-6">
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <div class="content ">
                                Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column is-one-three">
                    <div class="card">
                        <div class="card-content">
                            <div class="content ">
                                Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-three">
                    <div class="card">
                        <div class="card-content">
                            <div class="content ">
                                Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--section-->
</body>
</html>